<div class="row">
    <%=render "/settings/partials/sidebar" %>
    <div class="col-md-9">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h4 class="box-title"> Departments
            <span class="pull-right">
              <%=link_to "New Department", new_settings_department_path, class: "btn btn-danger" %>
            </span>
            <h4>
        </div>
        <div class="box-body">
  </div>
