<div class="col-md-12">
<div class="box box-solid">
  <div class="box-header">
    <%=@business.name %>
  </div>
  <div class="box-body">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">

      <li class="active"><a href="#businesses" data-toggle="tab">Info</a></li>
      <li><a href="#timeline" data-toggle="tab">Taxes and Fees</a></li>
      <li><a href="#settings" data-toggle="tab">Requirements</a></li>
      <li><a href="#settings" data-toggle="tab"><i class="icon-settings"></i> Settings</a></li>

    </ul>
    <div class="tab-content">
     <%#=render 'taxpayers/partials/businesses' %>
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.nav-tabs-custom -->
</div>
<!-- /.col -->
</div>
