<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @line_of_business_classification.name %>
</p>

<%= link_to 'Edit', edit_line_of_business_classification_path(@line_of_business_classification) %> |
<%= link_to 'Back', line_of_business_classifications_path %>
