<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h4 class="box-title"> Business Classification Details </h4>
      </div>
      <div class="box-body">
        <%=simple_form_for @business, url: :business_business_classification do |f| %>
          <%=f.input :business_classification_id, collection: Businesses::BusinessClassification.all.map{|a| [a.name, a.id]}, as: :radio_buttons %>
          <div class="modal-footer">
            <%=f.submit "Update", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
