<div class="row">
  <div class="col-md-4">
    <div class="box box-solid">
      <div class="box-header with-border">
        <i class="icon-location-pin"></i> Barangays
        <span class="pull-right">
          <%=link_to new_settings_barangay_path do %>
            <btn class="btn btn-default btn-icon"><i class="fa fa-plus-circle"></i> </btn>
          <% end %>
      </div>
      <div class="box-body">
        <% Barangay.all.each do |barangay| %>
          <p><%=barangay.name %></p><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
