<div class="col-md-12">
  <div class="box box-solid">
    <div class="box-header">
      <h4><%=@business_classification.name %> </h4>
    </div>
    <div class="box-body">
    </div>
  </div>
</div>
