<div class="active tab-pane" id="businesses">
  <div class="row">
    <div class="col-md-12">
      <span class='pull-right'><%=link_to "New Business", new_taxpayer_business_path(@taxpayer), class: "btn btn-primary" %></span>
    </div>
    <hr>
    <div class="col-md-12">
      <div class="table table-responsive">
        <table class="table table-hover">
          <tbody>
            <% @taxpayer.businesses.each do |business| %>

            <tr>
              <td><%= image_tag(business.logo.url(:small), class: "img-circle") %></td>
              <td><%=link_to business.name, business %>
                  <span class="help-block"> <i class="icon-location-pin"></i> <%=business.current_address %></span>
              </td>
            </td>
            
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
