<div class="tab-pane" id="required-documents">
  Health Certificate
  <%=link_to "New Health_Certificate", new_health_unit_section_taxpayer_health_certificate_path(@taxpayer), class: "btn btn-primary" %>
  <hr />
  Sanitary Permits
  <%=link_to "New Sanitary Permit", new_health_unit_section_taxpayer_sanitary_permit_path(@taxpayer), class: "btn btn-primary" %>

</div>
