
<div class="col-md-3">
  <div class="box box-solid">
    <div class="box-body">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="#"><i class="fa fa-sliders fa-fw"></i>Application Settings</a></li>
        <li><a href="/settings/accounts"><i class="fa fa-map-marker fa-fw"></i> Municipality</a></li>
        <li class="<%='active' if current_page?(settings_employees_path)%>"><a href="/settings/employees"><i class="icon-people fa-fw"></i> &nbsp; Employees</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-circle-o fa-fw"></i>Busines Activities</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-table fa-fw"></i>Table</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-tasks fa-fw"></i>Forms</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-calendar fa-fw"></i>Calender</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-book fa-fw"></i>Library</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-pencil fa-fw"></i>Applications</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>
    </ul>
  </div>
</div>
</div>
