
<div class="col-md-3">
  <div class="box box-solid">
    <div class="box-body">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="#"><i class="fa fa-sliders fa-fw"></i>APPLICATION SETTINGS</a></li>
        <li><a href="/settings/accounts"><i class="fa fa-map-marker fa-fw"></i> Account</a></li>
        <li class="<%='active' if current_page?(settings_employees_path)%>"><a href="/settings/employees"><i class="icon-people fa-fw"></i> &nbsp; Employees</a></li>
        <li><a href="/settings/line_of_businesses"><i class="fa fa-bars fa-fw"></i>Busines Activities</a></li>
        <li><a href="/settings/business_classifications"><i class="fa fa-bars fa-fw"></i>Busines Classifications</a></li>
        <li><a href="/settings/business_classifications"><i class="fa fa-credit-card fa-fw"></i>Fees and Taxes</a></li>
        <li><a href="/settings/business_classifications"><i class="fa fa-tasks fa-fw"></i>Activity Logs</a></li>
        <li><a href="/settings/business_classifications"><i class="fa fa-tasks fa-fw"></i>Business Permits</a></li>
        <li><a href="/settings/required_documents"><i class="icon-folder-alt fa-fw"></i> &nbsp; Required Documents</a></li>
        <li><a href="/settings/departments"><i class="icon-organization fa-fw"></i> &nbsp; Departments</a></li>






    </ul>
  </div>
</div>
</div>
