<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header with-border">
        <h4 class="box-title"> Health Certificates </h4>
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th> Taxpayer </th>
                <th> Reference Number </th>
                <th> Date Issued </th>
                <th> Expiry Date </th>
              </tr>
            </thead>
            <tbody>
              <% @health_certificates.each do |health_certificate| %>
                <tr>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
