<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mode_of_payment.name %>
</p>

<%= link_to 'Edit', edit_mode_of_payment_path(@mode_of_payment) %> |
<%= link_to 'Back', mode_of_payments_path %>
