<div class="tab-pane active" id="info">
  <p>Lines of Business
  <span class="pull-right"><%=link_to "Add New", new_business_line_of_business_path(@business), class: "btn btn-primary btn-sm" %>
  </span>
</p>
  <hr>
  <% @business.line_of_businesses.each do |line_of_business| %>
    <p class="text-muted"><%=line_of_business.name %></p>
  <% end %>
</div>
