<div class="tab-pane" id="settings">
  <p class="text-muted"> Update information of this business </p>
  <%=link_to "Update", edit_business_path(@business), class: 'btn btn-warning btn-sm' %>
  <hr>
  <p class="text-danger"> Retire this business </p>
  <%=link_to "Retire", new_business_retirement_path(@business), class: "btn btn-danger btn-sm", data: {confirm: "Are you sure you want to retire this business? THIS ACTION CAN NOT BE UNDONE."} %>
</div>
