<div class="tab-pane" id="taxes-and-fees">
  <p> Taxes </p>
  <hr>
  <p> Fees </p>
  Mayors Permit Fee <%=number_to_currency @business.mayors_permit_fees.total %> <br>
  <% @business.mayors_permit_fees.each do |mayors_permit_fee| %>
  <%=mayors_permit_fee.feeable.try(:name) %>
  <%=mayors_permit_fee.amount %>
  <% end %>
  <hr>
  Police Clearance Fee
</div>
